<html class="loading" lang="en" data-textdirection="ltr">

<app-header></app-header>


<app-sidebar></app-sidebar>

<div id="main">
   <div class="row">
     <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
     <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
       <!-- Search for small screen-->
       <div class="container">
         <div class="row">
           <div class="col s10 m6 l6">
             <h5 class="breadcrumbs-title mt-0 mb-0">iStyle Products Page</h5>
             <ol class="breadcrumbs mb-0">
               <li class="breadcrumb-item"><a href="/dashboard">Home</a>
               </li>
               <li class="breadcrumb-item"><a href="#">Apps</a>
               </li>
               <li class="breadcrumb-item active">iStyle Products Page
               </li>
             </ol>
           </div>
         
         </div>
       </div>
     </div>
     <div class="col s12">
       <div class="container">
         <div class="section">
<div class="row" id="ecommerce-products">
 <div class="col s12 m3 l3 pr-0 hide-on-med-and-down animate fadeLeft">
   <div class="card">
     <div class="card-content">
       <span class="card-title">Categories</span>
       <hr class="p-0 mb-10">
       <ul class="collapsible categories-collapsible">
         <li>
           <div class="collapsible-header">Barbing Salon <i class="material-icons"> keyboard_arrow_right </i></div>
           
         </li>
         <li>
           <div class="collapsible-header">Hairdressing <i class="material-icons"> keyboard_arrow_right </i></div>
        
         </li>
         <li>
           <div class="collapsible-header">Pendicure <i class="material-icons"> keyboard_arrow_right </i></div>
         
         </li>

         <li>
            <div class="collapsible-header">Manicure <i class="material-icons"> keyboard_arrow_right </i></div>
          
          </li>

          <li>
            <div class="collapsible-header">Make Up <i class="material-icons"> keyboard_arrow_right </i></div>
          
          </li>
      
       </ul>
     
     </div>
   </div>
 </div>
 <div class="col s12 m12 l9">
   <div class="col s12 m4 l4">
     <div class="card animate fadeLeft">
      
       <div class="card-content">
         <p>Beautfy Saloon</p>
         <span class="card-title text-ellipsis">Beauty Saloon</span>
         <img src="../../../assets/images/cards/hair.jpg" class="responsive-img" alt="">
         <div class="row">
           <small class="col s12 m12 l8 mt-3">32, Alhaji Yaro Street, Surulere, Lagos State</small>
        
           <div class="col s12 mt-2 mb-2">
            <a class="waves-effect waves-light btn-small mb-1 gradient-45deg-deep-purple-blue"><i class="material-icons right">call</i>Call</a> |
            <a class="waves-effect waves-light btn-small mb-1 gradient-45deg-deep-purple-blue"><i class="material-icons left">textsms</i>Text</a>
          </div>
         </div>
       </div>
     </div>
    
   </div>
   <div class="col s12 m4 l4">
     <div class="card animate fadeUp">
       <div class="card-content">
         <p>Beautfy Saloon</p>
         <span class="card-title text-ellipsis">Beauty Saloon</span>
         <img src="../../../assets/images/cards/hair.jpg" class="responsive-img" alt="">
         <div class="row">
          <small class="col s12 m12 l8 mt-3">32, Alhaji Yaro Street, Surulere, Lagos State</small>
       
          <div class="col s12 mt-2 mb-2">
           <a class="waves-effect waves-light btn-small mb-1 gradient-45deg-deep-purple-blue"><i class="material-icons right">call</i>Call</a> |
           <a class="waves-effect waves-light btn-small mb-1 gradient-45deg-deep-purple-blue"><i class="material-icons left">textsms</i>Text</a>
         </div>
        </div>
       </div>
     </div>

   </div>
   <div class="col s12 m4 l4">
     <div class="card animate fadeRight">
       <div class="card-content">
         <p>Heady Murphy</p>
         <span class="card-title text-ellipsis">Heady Murphy</span>
         <img src="../../../assets/images/cards/hair2.jpg" class="responsive-img" alt="">
         <div class="row">
          <small class="col s12 m12 l8 mt-3">32, Alhaji Yaro Street, Surulere, Lagos State</small>
       
          <div class="col s12 mt-2 mb-2">
           <a class="waves-effect waves-light btn-small mb-1 gradient-45deg-deep-purple-blue"><i class="material-icons right">call</i>Call</a> |
           <a class="waves-effect waves-light btn-small mb-1 gradient-45deg-deep-purple-blue"><i class="material-icons left">textsms</i>Text</a>
         </div>
        </div>
       </div>
     </div>
   
   </div>

   
   <!-- Pagination -->
   <div class="col s12 center">
     <ul class="pagination">
       <li class="disabled">
         <a href="#!">
           <i class="material-icons">chevron_left</i>
         </a>
       </li>
       <li class="active"><a href="#!">1</a>
       </li>
       <li class="waves-effect"><a href="#!">2</a>
       </li>
       <li class="waves-effect"><a href="#!">3</a>
       </li>
       <li class="waves-effect"><a href="#!">4</a>
       </li>
       <li class="waves-effect"><a href="#!">5</a>
       </li>
       <li class="waves-effect">
         <a href="#!">
           <i class="material-icons">chevron_right</i>
         </a>
       </li>
     </ul>
   </div>
 </div>

 
</div>
</div><!-- START RIGHT SIDEBAR NAV -->


       </div>
     </div>
   </div>
 </div>
 <!-- END: Page Main-->
<app-footer></app-footer>


</html> 