<!-- BEGIN: SideNav-->
<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square">
    <div class="brand-sidebar">
      <h1 class="logo-wrapper"><a class="brand-logo darken-1" href="index.html"><img src="../../../assets/images/logo/materialize-logo-color.png" alt="materialize logo"><span class="logo-text hide-on-med-and-down">iStyle</span></a><a class="navbar-toggler" href="#"><i class="material-icons">radio_button_checked</i></a></h1>
    </div>
    <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">
      
      <li class="bold"><a class="collapsible-header waves-effect waves-cyan " routerLink="/selectlocation"><i class="material-icons">dvr</i><span class="menu-title" data-i18n="">Dashboard</span></a>
      
      </li>
      <li class="navigation-header"><a class="navigation-header-text">Applications</a><i class="navigation-header-icon material-icons">more_horiz</i>
      </li>
      
      <li class="bold"><a class="waves-effect waves-cyan " routerLink="/request-list"><i class="material-icons">add_box</i><span class="menu-title" data-i18n="">Your Request</span></a>
      </li>
      <!--<li class="bold"><a class="waves-effect waves-cyan " href="app-todo.html"><i class="material-icons">account_balance_wallet</i><span class="menu-title" data-i18n="">Wallet</span></a>
      </li>-->
      <li class="bold"><a class="waves-effect waves-cyan " routerLink="/profile"><i class="material-icons">person</i><span class="menu-title" data-i18n="">Account</span></a>
      </li>
     
      <li class="bold"><a class="waves-effect waves-cyan" routerLink="/login"><i class="material-icons">power_settings_new</i><span class="menu-title" data-i18n="">Logout</span></a>
      </li>
    </ul>
    </aside>
  <!-- END: SideNav-->