
<html class="loading" lang="en" data-textdirection="ltr">

    <app-header></app-header>
    
    
    <app-sidebar></app-sidebar>
    
    <div id="main">
        <div class="row">
          <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
          <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="container">
              <div class="row">
                <div class="col s10 m6 l6">
                  <h5 class="breadcrumbs-title mt-0 mb-0">User Profile Page</h5>
                  <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item"><a href="index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">User</a>
                    </li>
                    <li class="breadcrumb-item active">User Profile Page
                    </li>
                  </ol>
                </div>
             
              </div>
            </div>
          </div>
          <div class="col s12">
            <div class="container">
             
  <div class="section" id="user-profile">
    <div class="row">
      <!-- User Profile Feed -->
      <div class="col s12 m4 l3 user-section-negative-margin">
        <div class="row">
          <div class="col s12 center-align">
            <img class="responsive-img circle z-depth-5" width="200" src="../../../assets/images/user/passport.png" alt="">
            <br>
          
            <a class="waves-effect waves-light btn mt-5 border-radius-4">  <i class="material-icons right">picture_in_picture_alt</i> CHANGE PASSPORT</a>
          </div>
        </div>
        
      
       
      </div>
      <!-- User Post Feed -->
      <div class="col s12 m8 l6">
        <div class="row">
          <div class="card user-card-negative-margin z-depth-0" id="feed">
            <div class="card-content card-border-gray">
              <div class="row">
                <div class="col s12">
                  <h5>Akosie Abdulquadri</h5>
                  <p>Taxi Driver <span class="amber-text"><span class="material-icons star-width vertical-align-middle">star_rate</span>
                      <span class="material-icons star-width vertical-align-middle">star_rate</span> <span class="material-icons star-width vertical-align-middle">star_rate</span>
                      <span class="material-icons star-width vertical-align-middle">star_rate</span> <span class="material-icons star-width vertical-align-middle">star_rate</span></span></p>
                </div>
              </div>
              
              <div class="row">
                <form  >
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">account_circle</i>
                      <input  type="text" class="validate" value="Akosile Abdulquadri" >
                      
                    </div>
                    
                    <div class="input-field col s12">
                        <i class="material-icons prefix">home</i>
                        <input  type="text" class="validate" value="58, Alhaji Salami Street, Surulere, Lagos State" >
                     
                      </div>

                   
                      <div class="input-field col s12">
                        <i class="material-icons prefix">call</i>
                        <input  type="text" class="validate" value="+2348168741181" >
                        
                      </div>

                      <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input  type="text" class="validate" value="tosinsuper@gmail.com" >
                        
                      </div>
                  </div>
                 
                  <div class="input-field col s12">
                    <button class="btn waves-effect waves-light right e-cyan " type="submit" name="action">Save
                      <i class="material-icons right">save</i>
                    </button>
                  </div>
                  
                </form>
            
              </div>
           
            </div>
          </div>
        </div>
      </div>
    
      <div class="col s12 m12 l3 hide-on-med-and-down">
        <div class="row mt-5">
          <div class="col s12">
           <br>
            <img class="responsive-img card-border z-depth-2 mt-2" src="../../../assets/images/gallery/paystack.png" alt="">
            <p><a href="#">Change Payment Method</a></p>
            <p>You can change your payment method, you can pay by cash or pay on online after service</p>
            <form action="#">
                <p>
                  <label>
                    <input name="group1" type="radio" checked="">
                    <span>Pay in Cash</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="group1" type="radio">
                    <span>Pay Online </span>
                  </label>
                </p>
              
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light right  " type="submit" name="action">Save
                      <i class="material-icons right">save</i>
                    </button>
                  </div>
              </form>
          </div>
        </div>
      
        
      </div>
    </div>
  </div><!-- START RIGHT SIDEBAR NAV -->
 
            </div>
          </div>
        </div>
      </div>
     <!-- END: Page Main-->
    <app-footer></app-footer>
    
    
    </html> 